/node_modules
/public/build
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/.deploy/.env
/.idea
/.git
/.vscode
.env
.env.backup
.scannerwork
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
